---
import Navbar from '../components/Navbar.astro'
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="Portfolio" content="Author:Francisco Lencina, Category: Portfolio, Blog. Resume: This is my portfolio and i will show you my skills and knowledge.">
		<meta name="theme-color" content="#317EFB"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio - 404 Error</title>
	</head>
	<body class="duration-300">
        <Navbar></Navbar>
		<h1>404 Error</h1>
        <p>Page not found</p>
	</body>
</html>