---
import Layout from "../layouts/Layout.astro";
import { BackToHBtn } from "../components/BackToHBtn";
---

<Layout title="Portfolio - 404 Error">
	<main class="w-full flex flex-col justify-center items-center h-screen mx-auto bg-[#E2E2E2] dark:bg-[#181818] p-4 ">
		<div class="text-black text-center max-w-3xl mx-auto dark:text-white">
			<h1 class="text-8xl font-black">404</h1>
			<h2 class="text-5xl font-extrabold">page error</h2>
			<h4 class="text-xl font-normal my-3 opacity-60">Oops!, La pagina que estas buscando no se pudo encontrar.</h4>
		</div>
		<div>
			<BackToHBtn text="Volver" website="/" />
		</div>
	</main>
</Layout>
<style></style>
