---
import Frameworks from "../storage/frameworks.json";
import Languages from "../storage/languages.json";

import 'tippy.js/dist/tippy.cjs';
---

<div class="flex flex-col gap-12">
    <div class="flex flex-col items-center gap-12 my-24">
        <div class="text-center dark:text-white">
            <h3 class="font-extrabold opacity-70 text-2xl sm:text-4xl">
                Lenguajes
            </h3>
            <p class="text-lg max-w-md mt-4 opacity-70">
                Lenguajes y tecnologias de las cuales tengo conocimiento.
            </p>
        </div>
        <div class="m-5">
            <ul class="max-w-2xl flex flex-col gap-4 md:flex-row">
                {
                    Languages.map((item) => (
                        <li class="flex flex-col w-16 justify-center items-center gap-4 md:flex-row md:w-full md:gap-8">
                            <img class="hover:scale-105 duration-300 cursor-default" src={item.image} alt={item.name}/>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
    <div class="flex flex-col items-center gap-12 mb-24">
        <div class="text-center dark:text-white">
            <h3 class="font-extrabold opacity-70 text-2xl sm:text-4xl">
                Frameworks
            </h3>
            <p class="text-lg max-w-md mt-4 opacity-70">
                Frameworks y herramientas de las cuales tengo conocimiento y
                utilizo.
            </p>
        </div>
        <div class="m-5 h-auto">
            <ul class="max-w-2xl flex flex-col md:flex-row">
                {
                    Frameworks.map((item) => (
                        <li class="flex flex-col w-16 justify-center items-center gap-4 md:flex-row md:w-full md:gap-8 ">
                            <img class="hover:scale-105 duration-300 cursor-default" src={item.image} alt={item.name}/>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</div>
<style>
    p {
        font-family: monospace;
    }

    img {
        height: 72px;
        cursor: pointer;
    }

    @media (max-width: 767px) {
        img {
            width: fit-content;
            height: 64px;
        }
    }
</style>
