---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Francisco Lencina : Portfolio">
	<main class="container max-w-5xl m-0 mx-auto p-6">
		<!-- PROFILE SECTION -->
		<section id="Profile">
			<div>
				<h1>Francisco Lencina</h1>
			</div>
			<div>
				<p
					class="text-info mb-4 md:mt-6 dark:text-white duration-300 md:text-xl opacity-90"
				>
					Tengo 19 años, vivo en Uruguay y soy Front End Developer.
					Autodidacta, apasionado por la tecnologia y el como esta
					desarrollada. Actualmente estudiando Tecnologo en
					Informatica.
				</p>
			</div>
		</section>
	</main>

	<section id="Skills"></section>

	<section id="Proyectos"></section>

	<!-- ASIDE SOCIAL -->

	<aside></aside>
</Layout>
<style></style>
<script></script>
