---
import Layout from "../layouts/Layout.astro";
import Titles from "../components/Titles.astro";
import DvButton from "../components/DvButton";
import SocialLine from "../components/SocialLine.astro";

import EmojiMano from "../assets/mano-emoji.png";

import Footer from "../components/Footer.astro";

import Habilidades from "../pages/habilidades.astro";
import Proyectos from "../pages/proyectos.astro";
import YoImg from "../components/YoImg";
---

<Layout title="Francisco Lencina : Portfolio">
	<button
		class="fixed text-white bg-black hover:bg-[var(--blue)] p-3 text-lg right-4 sm:right-20 lg:right-82 bottom-16 z-20 border-none hover:duration-300 cursor-pointer outline-none border rounded-md
		dark:text-black dark:bg-white dark:hover:bg-[var(--blue)] "
		id="scrollBtn"
		title="Scroll to top"><i class="ri-arrow-up-line"></i></button>
	<SocialLine />
	<div class="container max-w-5xl m-0 mx-auto p-6 ">
		<div class="PROFILE hidden 2xl:block absolute opacity-10 rotate-90 dark:text-blue-300 dark:opacity-10 overscroll-x-none">
			<h4>PROFILE</h4>
		</div>
		<div class="justify-center sm:flex sm:justify-between">
			<div>
				<div class="main-text dark:text-white duration-300">
					<p class="hi-text text-xl mb-4 mt-10">
						Hola! <img class="emojiImage hover:scale-110 cursor-pointer duration-300" src={EmojiMano} alt="emoji mano" />, Soy
					</p>
					<div class="flex flex-col gap-2 sm:relative sm:-top-5">
						<h2
							class="Francisco text-4xl relative top-0 sm:text-6xl sm:top-5 md:text-7xl dark:bg-gradient-to-r from-[var(--blue)] to-white"
						>
							Francisco
						</h2>
						<h2
							class="Lencina inline-flex w-fit text-4xl relative -top-3 sm:text-6xl sm:top-0 md:text-7xl dark:bg-gradient-to-r from-[var(--blue-pastel)] to-[var(--blue)]"
						>
							Lencina
						</h2>
					</div>
				</div>
				<div class="main-info max-w-sm mt-6">
					<div>
						<p class="text-info mb-5 dark:text-white duration-300">
							Tengo 19 años y soy Front End Developer.
							Autodidacta, apasionado por la tecnologia y el como esta desarrollada.
						</p>
					</div>
					<div class="flex justify-start">
						<DvButton />
					</div>
				</div>
			</div>
			<div class="flex justify-center mt-12 mb-24 p-6">
				<YoImg client:load/>
			 <!--	<img class="w-96 h-full" src="https://res.cloudinary.com/dctldwa03/image/upload/q_auto:good/v1678214385/Logo3_qjp3au.png" alt="Francisco Lencina Foto"/> -->
			</div>
		</div>
		<div class="scrollDownBtn w-full flex justify-center scroll-mx-0">
			<a
				class="text-6xl text-[var(--blue)] hover:text-black hover:scale-110 dark:hover:text-white duration-300 "
				aria-label="Scroll Down Button"
				href="#Habilidades"><i class="ri-arrow-down-s-line"></i></a
			>
		</div>
		<section id="Habilidades" class="mt-36">
			<div class="SKILLS hidden 2xl:block absolute opacity-10 rotate-90 dark:text-blue-300 dark:opacity-10 scroll-mx-0 overscroll-x-none">
				<h4>SKILLS</h4>
			</div>
			<Titles title="Habilidades"/>
			<Habilidades />
		</section>
		<section id="Proyectos">
			<div class="PROJECTS hidden 2xl:block absolute opacity-10 rotate-90 dark:text-blue-300 dark:opacity-10 scroll-mx-0 overscroll-x-none">
				<h4>PROJECTS</h4>
			</div>
			<Titles title="Proyectos" />
			<Proyectos />
		</section>
		<Footer />
	</div>
</Layout>

<style>
	.PROFILE{
		font-family: 'Playfair Display', serif;
		font-size: 170px;
		letter-spacing: 20px;
		left: -300px;
		top: 370px;
		pointer-events: none;
	}
	.SKILLS{
		box-sizing: border-box;
		font-family: 'Playfair Display', serif;
		font-size: 200px;
		right: -250px;
		top: 1400px;
		letter-spacing: 30px;
		pointer-events: none;
	}
	.PROJECTS{
		font-family: 'Playfair Display', serif;
		font-size: 160px;
		letter-spacing: 20px;
		left: -300px;
		bottom: -1700px;
		pointer-events: none;
	}
	.hi-text {
		display: flex;
		font-family: "Space Mono", monospace;
		font-weight: 400;
		position: relative;
		top: 0px;
	}
	.Francisco {
		background-image: var(--blue-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-weight: 800;
		margin: 0px;
	}

	h2.dark{
		background-image: var(--blue-white);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-weight: 800;
		margin: 0px;
	}

	.Lencina {
		background-image: var(--black-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		font-weight: 800;
		margin: 0;
	}

	.text-info {
		font-family: "Space Mono", monospace;
	}



	#scrollBtn {
		display: none;

}
</style>

<script>
	let scrollBtn = document.getElementById("scrollBtn");
	// 20px from the top show the button
	window.onscroll = function () {
		scrollFunction();
	};
	scrollBtn.addEventListener("click", () => {
		topFunction();
	});
	function scrollFunction() {
		if (
			document.body.scrollTop > 20 ||
			document.documentElement.scrollTop > 20
		) {
			scrollBtn.style.display = "block";
		} else {
			scrollBtn.style.display = "none";
		}
	}
	function topFunction() {
		document.body.scrollTop = 0; // For Safari
		document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	}
</script>
