---
import Card from "../components/Card.astro";
---
<div class="md:py-24 ">
<ul role="list" class="link-card-grid flex flex-col gap-4 items-center sm:max-w-xl sm:mx-auto md:max-w-3xl ">
    <Card
        href="https://docs.astro.build/"
        title="Keyswh"
        body="Keyswh es una comunidad de teclados mecanicos, donde podras ver guias, noticias e informarte sobre estos."
        imageUrl="https://res.cloudinary.com/dctldwa03/image/upload/q_auto:low/v1678214893/keyswh_foto_a4ce8c.png"
        project="Keyswh"       
        tech1="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
        tech2="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png"
        tech3="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/1024px-Tailwind_CSS_Logo.svg.png"
        tech4="https://www.secret-source.eu/wp-content/uploads/2017/11/node-js-logo.jpg"
    />
    <Card
        href="https://astro.build/integrations/"
        title="SafePvP Website"
        body="SafePvP es la pagina oficial sobre un ex servidor de un videojuego."
        imageUrl="https://res.cloudinary.com/dctldwa03/image/upload/q_auto:low/v1678214894/safepvp_foto_pfl1he.png"
        project="SafePvP"
        tech1="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
        tech2="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png"
        tech3="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/1024px-Tailwind_CSS_Logo.svg.png"
        tech4="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg"
    />
</ul>
</div>