---
import Card from "../components/Card.astro";
---
<div class="md:py-24 ">
<ul role="list" class="link-card-grid flex flex-col gap-4 items-center sm:max-w-xl sm:mx-auto md:max-w-3xl ">
    <Card
        href="https://docs.astro.build/"
        title="Keyswh"
        body="Learn how Astro works and explore the official API docs. "
        imageUrl="https://assets-global.website-files.com/5e593fb060cf877cf875dd1f/5f7c393aa725deeae39020c2_5f7364a2fca90a3ef5b715b9_designer-design-portfolio-webflow-template.png"
        project="Keyswh"       
        tech1="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
        tech2="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png"
        tech3="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/1024px-Tailwind_CSS_Logo.svg.png"
        tech4="https://miro.medium.com/max/512/1*314zAbKFKYTuxHNwRO07SA.png"
    />
    <Card
        href="https://astro.build/integrations/"
        title="SafePvP Website"
        body="Supercharge your project  with new frameworks and libraries. "
        imageUrl="https://assets-global.website-files.com/5e593fb060cf877cf875dd1f/5f7c393aa725deeae39020c2_5f7364a2fca90a3ef5b715b9_designer-design-portfolio-webflow-template.png"
        project="SafePvP"
        tech1="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png"
        tech2="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png"
        tech3="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/1024px-Tailwind_CSS_Logo.svg.png"
        tech4=""
    />
</ul>
</div>