---
import Card from "../components/Card.astro";
---
<div class="md:py-24 ">
<ul role="list" class="link-card-grid flex flex-col gap-4 items-center sm:max-w-xl sm:mx-auto md:max-w-3xl ">
    <Card/>
</ul>
</div>