---
import HearthEmoji from "../assets/imgs/HearthEmoji.png";
---

<div class="relative flex flex-col gap-4 p-16 justify-center items-center text-center h-82 w-full left-0 bottom-0 bg-[#F6F6F6] dark:text-white dark:bg-[var(--blue-deep)] duration-300">
    <div>
        <p>made with love by <span class="text-blue-700 hover:text-blue-500  duration-300"><a href="https://www.linkedin.com/in/francisco-lencina/" target="_blank">@frannlencina</a></span></p>
    </div>
    <div>
        <img src={HearthEmoji} alt="" srcset="" />
    </div>
</div>
