---
import Line from '../assets/imgs/Line.png'
---

<div class="hidden bottom-0 z-10 sm:flex flex-col justify-center items-center fixed right-6 lg:right-36 dark:text-white duration-300">
    <div class="text-3xl">
        <div>
            <a class="hover:text-[var(--blue)] duration-300 " href="mailto:franciscolencinap@gmai.com" target="_blank"><i class="ri-mail-line"></i></a>
        </div>
        <div class="hover:text-[var(--blue)] duration-300 ">
            <a class="hover:text-[var(--blue)] duration-300 " href="https://www.linkedin.com/in/francisco-lencina/" target="_blank"><i class="ri-linkedin-fill"></i></a>
        </div>
        <div class="hover:text-[var(--blue)] duration-300 ">
            <a class="hover:text-[var(--blue)] duration-300 " href="https://github.com/cinkii" target="_blank"><i class="ri-github-fill"></i></a>
        </div>
    </div>
    <div class="">
        <img class="text-white" src={Line} alt="" srcset="">
    </div>
</div>