<div class="flex text-center justify-center p-2  bg-[var(--blue)] rounded-md text-white hover:text-blue-400 duration-300 cursor-pointer">
        <button
            class=""
            >Ver Detalles</button
        >
</div>

