---
import Post from "../../layouts/Post.astro";

---
<Post title="Francisco Lencina : Portfolio">
  <div>
    <div class="title">
     
    </div>
    <div class="image">
      <img src="" alt="">
    </div>
    <div class="about-project">
      
    </div>
    <div class="technology-specifications">
      
    </div>
    <div class="technology-images">

    </div>
  </div>
</Post>
<script>
  /*
  export function getStaticPaths() {
  return [
    {params: {project: 'SafePvP'}},
    {params: {project: 'Keyswh'}},
  ];
}

  , imageUrl: '', aboutDescription: 'asd', aboutTechnology: 'asd' 
  */
</script>