---
import Post from "../../layouts/Post.astro";

export function getStaticPaths() {
  return [
    {params: {project: 'SafePvP', imageUrl: 'https://res.cloudinary.com/dctldwa03/image/upload/q_auto:good/v1678214385/Logo3_qjp3au.png'}},
    {params: {project: 'Keyswh'}},
  ];
}

const { project, imageUrl } = Astro.params;
---
<Post title="Francisco Lencina : Portfolio">
  <div>
    <div class="title">
      {project}
    </div>
    <div class="image">
      <img src={imageUrl} alt="Portada del Software desarrollado.">
    </div>
    <div class="about-project">
      
    </div>
    <div class="technology-specifications">
      
    </div>
    <div class="technology-images">

    </div>
  </div>
</Post>
<script>
  /*
  , imageUrl: '', aboutDescription: 'asd', aboutTechnology: 'asd' 
  */
</script>